@model ProductsListViewModel


@foreach (var product in Model.Products)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img height="200" src="@product.ImageUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@product.Price.ToString("c")</h3>
                <h3>
                    <a>@product.Name</a>
                </h3>
                <p>@product.Description</p>
            </div>
        </div>
    </div>
}